<h1>Supplier</h1>

<p>Company Name: <%=@supplier.name %></p>
<p>Location: <%=@supplier.location %></p>
<p>Representative: <%=@supplier.representative %></p>

<% for item in @items  %>
  <li><%= item.name  %></li>


<% end  %>

<a href="/dashboard/suppliers/<%=@supplier.id %>/edit">Update Supplier</a>

<form method="post" action="/dashboard/suppliers/<%=@supplier.id%>/delete">
   <input type="submit" value="Delete Supplier"/>
 </form>
