<%@items.each do |item|  %>
  <p>Item: <%=item.name %></p>
  <p>Quantity: <%=item.quantity  %></p>
  <p>Category: <%=item.category  %></p>
  <p>Supplier: <%=item.supplier_id  %></p>

  <p> <a href="/items/<%= item.id %>">Show Item</a> </p>

<hr>
<%end  %>
