<h1>Items In Stock</h1>

<p> <a href="/dashboard/items/new">New Item</a> </p>

<table>
    <tr>
      <th>Item</th>
      <th>Quantity</th>
      <th>Category</th>
      <th>Supplier</th>
      <th>Show More</th>
      <th>Warning</th>
    </tr>

  <%@items.each do |item|  %>
    <tr>
      <td><%=item.name%></td>
      <td><%=item.quantity %></td>
      <td><%=item.category %></td>
      <td><a href="/dashboard/suppliers/<%=item.supplier_id%>"><%=item.supplier.name %></a></td>
      <td><a href="/dashboard/items/<%= item.id %>">Show Item</a></td>
      <td><%=  item.reorder?%></td>
    </tr>
  <%end  %>
</table>
