<p> <a href="/dashboard/items/new">New Item</a> </p>

<%@items.each do |item|  %>
  <p>Item: <%=item.name %></p>
  <p>Quantity: <%=item.quantity  %></p>
  <p>Category: <%=item.category  %></p>
  <p>Supplier: <%=item.supplier.name %></p>

  <p> <a href="/dashboard/items/<%= item.id %>">Show Item</a> </p>

<hr>
<%end  %>
